/*

   RESET

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*

   GENERAL

*/
 .container{
    max-width: 1000px;
    margin: 0 auto;
 }

.my-row{
    display: flex;
    flex-wrap: wrap;
}

.my-col-logo{
    width: 25%;
}

.my-col-link{
    width: 50%;    
}

.my-col-login{
    width: 25%;
    text-align: right;
}
 
.my-col-link ul li{
    display: inline-block;
}

.my-col-link ul{
    text-align: center;
}

.container2{
    max-width: 800px;
}



/*

   DEBUG

*/

.debug .header-top{
    background-color: #ADD8E6; 
    padding: 10px 0;
}

.debug .header-top .my-row{
    background-color: goldenrod;
}

.debug .header-top .my-row > * {
    border: 1px dashed black;
    padding: 10px;
}

.debug .header-bottom{
    background-color: rgb(0, 0, 177);
    padding: 50px 0;
}

.debug .header-bottom .jumbotron{
    background-color: rgb(255, 0, 255);
    min-height: 400px;
    border: 1px dashed black;
}
